.order-button {
  background-color: #2d9cdb;
}

.off-order-top {
  width: 700px;
  height: 220px;
  border-radius: 15px;
  background-color: #fff;
}

.off-order-top-img {
  width: 80px;
  height: 80px;
}
.off-order-top-head {
  border-bottom: solid 1px black;
}

.off-order-top-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.off-order-top-body-start {
  display: flex;
}
.off-order-main-top {
  display: flex;
}

.off-order-footer-main {
  display: flex;
}
.off-order-footer-footer-button {
  background-color: #003585;
  width: 690px;
  height: 50px;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
}
