.sideMenu {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    width: 25%;
    min-height: 100vh;
  }
  .sideBtn {
    text-decoration: none;
    width: 188px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #efeff0;
    border: none;
    border-radius: 10px;
    color: #838383;
    padding: 0px 15px;
    
  }
  .active {
    text-decoration: none;
    width: 188px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #003585;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0px 15px;
  }
  
  