.off-user-top{
    display: flex;
    justify-content: space-around;
}
h5{
    width: 340px;
    height: 40px;
    border: solid 1px black;
    border-radius: 10px;
}
.off-user-history-table{
    width: 700px;
    height: 140px;
    border: solid 1px black;
    border-radius: 10px;
}

.off-user-footer-button{
    width: 700px;
    height: 50px;
    background-color: 
    #003585;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}